<th class="mytooltip"> ID
  <span class="tooltiptext right"> Database primary key for this question. </span>
</th>
<th class="mytooltip"> ques #
  <span class="tooltiptext top"> Question number relative to <i>this class period only</i> </span>
</th>
<th class="mytooltip"> q type
  <span class="tooltiptext top"> Type of question. Possibilities are<br>
    0: unknown<br>
    1: quiz<br>
    2: single<br>
    3: paired
    4: non-MCQ<br>
    5: error<br>
  </span>
</th>
<th class="mytooltip"> pair #
  <span class="tooltiptext top"> TODO </span>
</th>
<th class="mytooltip"> screenshot
  <span class="tooltiptext"> TODO </span>
</th>
<th class="mytooltip"> bar chart
  <span class="tooltiptext"> TODO </span>
</th>
<th class="mytooltip"> correct<br> answer(s)
  <span class="tooltiptext"> TODO </span>
</th>
<th class="mytooltip"> start
  <span class="tooltiptext"> TODO </span>
</th>
<th class="mytooltip"> stop
  <span class="tooltiptext"> TODO </span>
</th>
<th class="mytooltip"> # secs
  <span class="tooltiptext"> TODO </span>
</th>
<th class="mytooltip"> correct<br> %
  <span class="tooltiptext">Percent of answers that were correct</span>
</th>
<th class="mytooltip"> matching<br>question
  <span class="tooltiptext left">Matching versions of this question
    from other courses. Enter the question ID (database
    primary key) of the matching question. You can use the "quick preview
    viewer" above to find a question, and then use the button in this column
    to say that these two questions are the same.
  </span>
</th>
