.compare_images {
  top: 0;
  padding-top: 60px;
  position: fixed;
  background: #ffffff;
  opacity: 1.0;
  border: 2px;
  z-index: 1;
  display: none;
  // these don't work correctly
  // I don't know how to put a horizontal scroll bar into this panel
  overflow-x: scroll;
  white-space: nowrap;
}

.cmpimg {
  //width: 600px;
  width: 100%;
}

/* resize images */
.cmpimg img {
  width: 100%;
  height: auto;
}
