// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.imagecolumn {
  width: 300px;
  //height: 370px;
}

/* resize images */
.imagecolumn img {
  width: 100%;
  height: auto;
}

tr.r0 td {
  background-color: #cc9999;
}
tr.r1 td {
  background-color: #9999cc;
}
//tr.r2 td {
//  background-color: #99cc99;
//}
tr.nonmcq td {
  background-color: #9a9a9a;
}
tr.spurious td {
  background-color: #a9a9a9;
}
tr.individual td {
  background-color: #99cc99;
}
tr.unknown td {
  background-color: #ffffff;
}

// Tooltips
.tooltip {
  position:relative;
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  // default is to place tooltip to the top
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.right {
  // Position the tooltip to the right
  bottom: unset;
  margin-left: unset;
  top: -10px;
  left: 105%;
}
.left {
  // Position the tooltip to the left
  bottom: unset;
  margin-left: unset;
  left: unset;
  top: -10px;
  right: 105%;
}
.tooltip:hover span.tooltiptext {
  visibility: visible;
  opacity: 1;
}
