// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.imagecolumn {
    width: 300px;
    //height: 370px;
}

/* resize images */
.imagecolumn img {
    width: 100%;
    height: auto;
}
