<%= javascript_tag do %>
$(document).ready(Shared.setup_modal_image);
<% end %>

<!-- Modal Image -->
<div id="myModal" class="modal">
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">
</div>
