<%= javascript_tag do %>

// console.log("hello");
// if(window.addEventListener){
//   window.addEventListener('load', Shared.setup_modal_image)
// }else{
//   window.attachEvent('onload', Shared.setup_modal_image)
// }
// Shared.setup_modal_image();
// console.log("outside jquery");
$(document).ready(Shared.setup_modal_image);
<% end %>

<!-- Modal Image -->
<div id="myModal" class="modal">
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">
</div>
